<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606038829485-6v6n9j33eiss2keqhnbgevodqpe06eh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606038829485-6v6n9j33eiss2keqhnbgevodqpe06eh4</string>
	<key>API_KEY</key>
	<string>AIzaSyAi0KtQVJ4TuAFOtVQPLwJ7Ru94Ifc3i0k</string>
	<key>GCM_SENDER_ID</key>
	<string>606038829485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>can.messageme.com</string>
	<key>PROJECT_ID</key>
	<string>message-me-6c6f7</string>
	<key>STORAGE_BUCKET</key>
	<string>message-me-6c6f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606038829485:ios:755f669abf18764daf1924</string>
	<key>DATABASE_URL</key>
	<string>https://message-me-6c6f7.firebaseio.com</string>
</dict>
</plist>